.header {
  box-shadow: 0px 5px 5px var(--blue-300);
  background-color: var(--green-200);
  height: 6.7rem;
  width: 100%;
  padding: 2.2rem 2.8rem;
}

.header h1 {
  color: var(--yellow-100);
  font-weight: bold;
  font-size: 2rem;
}

.main-section {
  background-color: var(--gray-100);
  width: 100%;
  margin-top: 1rem;
  min-height: 32.8rem;

  position: relative;
}

.date-wrapper {
  background-color: var(--blue-100);
  border-radius: 0.6rem;

  padding: 7px 12px;

  color: var(--blue-300);
  font-weight: 500;
  font-size: 20px;

  position: absolute;
  top: 2.1rem;
  left: 2.7rem;
}

.currency-conversion-title {
  color: var(--blue-300);
  font-weight: 500;
  font-size: 2rem;
  text-align: center;

  margin-top: 5.8rem;

  position: relative;
}

.currency-conversion-title::after {
  content: "";
  background-color: var(--green-100);
  width: 3.9rem;
  height: 0.2rem;

  position: absolute;
  bottom: -0.7rem;
  left: 50%;

  transform: translateX(-50%);
}

.action-select-wrapper {
  margin-top: 4.4rem;
}

.action-select-sub-wrapper {
  position: relative;
}

.action-select-sub-wrapper img {
  position: absolute;
  transform: rotate(90deg);
  right: 1rem;
  top: 10%;
}

.left-top-selection-field {
  height: 3.3rem;
  width: 17rem;
  padding: 0.8rem;

  cursor: pointer;
  border: none;
  background-color: var(--gray-200);
  border-radius: 0.6rem;
}

.left-top-selection-field option {
  background-color: white;
}
