.header {
  box-shadow: -1px -2px 5px 7px var(--blue-200);
  background-color: var(--green-200);
  height: 6.7rem;
  width: 100%;
  padding: 2.2rem 2.8rem;
}

.header h1 {
  color: var(--yellow-100);
  font-weight: bold;
  font-size: 2rem;
}

.main-section {
  background-color: var(--gray-100);
  width: 100%;
  margin-top: 1rem;
  min-height: 32.8rem;

  position: relative;
}

.date-wrapper {
  background-color: var(--blue-100);
  border-radius: 0.6rem;

  padding: 7px 12px;

  color: var(--blue-300);
  font-weight: 500;
  font-size: 20px;

  position: absolute;
  top: 2.1rem;
  left: 2.7rem;
}

.currency-conversion-title {
  color: var(--blue-300);
  font-weight: 500;
  font-size: 2rem;
  text-align: center;

  margin-top: 5.8rem;

  position: relative;
}

.currency-conversion-title::after {
  content: "";
  background-color: var(--green-100);
  width: 3.9rem;
  height: 0.2rem;

  position: absolute;
  bottom: -0.7rem;
  left: 50%;

  transform: translateX(-50%);
}

.action-select-wrapper {
  margin-top: 4.4rem;
  gap: 6.7rem;
}

.action-select-wrapper:last-child {
  margin-top: 0;
}

.action-select-sub-wrapper {
  position: relative;
  gap: 0.4rem;
}

.action-select-sub-wrapper img {
  position: absolute;
  transform: rotate(90deg);
  right: 1rem;
  top: 10%;
}

.select-field {
  height: 3.3rem;
  width: 17rem;
  padding: 0.8rem;

  cursor: pointer;
  border: none;
  background-color: var(--gray-200);
  border-radius: 0.6rem;

  outline: none;
  color: var(--blue-300);
  font-size: 1.6rem;
}

.select-field option {
  background-color: white;
}

.swap-btn {
  cursor: pointer;
}

.currency-value-fields-wrapper {
  gap: 6.7rem;
}

.currency-field {
  border: none;
  border-radius: 0.6rem;

  padding: 0.8rem;
  background-color: var(--gray-200);

  width: 17rem;
  height: 3.3rem;

  outline: none;
  color: var(--blue-300);
  font-size: 1.6rem;
}

.form-error-message {
  color: var(--red-100);
  font-size: 1.2rem;
  display: none;
}

.form-error-message-wrapper {
  margin-left: 0.8rem;
}

.currency-value-fields-error-message-wrapper {
  gap: 0.4rem;
}

.conversion-form-button-wrapper {
  margin-top: 1.7rem;
  padding-bottom: 2.7rem;
}

.conversion-form-button-wrapper button {
  background-color: var(--green-100);
  color: white;

  border-radius: 0.6rem;

  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.dollar-rate-graph {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.canvas-graph-wrapper {
  width: 100rem;
}
